:root {
    --slider-padding: 3rem;
}

.filmSectionscontainer{
    background-color: black;
    padding: 2rem;

    
    p{
        color: white;
        font-size: 18px;
        margin: 5px 0;
    }

    .newFilmSection{
        display: flex;
        justify-content: center;
        overflow: hidden;


        .slider{
            --items-per-screen: 5;
            --slider-index : 0; 
            display: flex;
            flex-grow: 1 ;
            margin: 0 2px;
            transform: translateX(calc(var(--slider-index) * -100%));
            transition: transform 250ms ease-in-out; 
        }
    
        .cards{
            background-color: rgba(164, 125, 8, 0.696);                
            max-width: 25%;
            aspect-ratio: 16 / 9;
            flex: 0 0 calc(100% / var(--items-per-screen));    
            margin: 0 1px;
            border-radius: 5px;
        }

        .handel{
            flex-grow: 0;
            width: 2.5rem;
            background-color: rgba(255, 0, 0, 0.183);
            z-index: 10;
            color: rgba(255, 255, 255, 0.336);
            font-size: 24px;
            border: none;
            cursor: pointer;
            transition: 250ms;     
                  

            &:hover,
            &:focus{
                background-color: red;
                font-size: 28px;
                color: white;
                
            }
        }
 
    }
    
}














// .filmSection{
//     width: 100%;
//     background-color: black;
//     display: flex;
//     justify-content: center;
//     padding-top: 2rem;
    

//     .filmSectionscontainer{
//         width: 100%;
//         display: flex;
//         flex-direction: column;


//         .newFilmSection{
//             width: 100%;
//             height: auto;
//             position: relative;
//             padding:0 1rem;
//             overflow: hidden;
                      

//             p{
//                 color: white;
//                 margin-bottom: 10px;
//                 font-size: 18px;
//             }

//             .slider{
//                 display: flex;

//                 .cards{
//                     background-color: rgba(241, 240, 237, 0.549);
//                     min-width: 18rem ;
//                     min-height: 11rem; 
//                     margin-left: 2px;
//                 }

                
//             }

            
//         }

//         > *{
//             margin-bottom: 2rem;
//         }    

//     }   

// }