.homeSection{
    width: 100%;
    height: 100vh;
    background-color: rgba(67, 99, 83, 0.869);
    display: flex;
    align-items: center;
    padding-left: 2rem;

    .homeSectionContents{
        

        #filmType{
            margin-bottom: 4rem;
            font-size: 35px;

            span{
                color: red;
                font-weight: 900;
            }
        }

        #heroBannerName{
            margin: 4rem 0;
            font-size: 55px;
        }
        
        .homeSectionButtons{
            margin-top: 6rem;

            .homePageButton{
                border: none;
                outline: none;
                padding: 10px 25px;
                font-weight: bold;  
                margin-left: 7px;              
            }
            #addToListButton{
                background-color: rgba(255, 255, 255, 0.545);
                color: rgba(255, 255, 255, 0.719);
                opacity: 90%;
            }

           
        }
    }
}