.homeSection{
    width: 100%;
    height: 100vh;
    background-color: rgba(67, 99, 83, 0.869);
    display: flex;
    align-items: center;
    padding-left: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .homeSectionContents{
        

        #filmType{
            margin-bottom: 4rem;
            font-size: 30px;
            color: white;

            span{
                color: red;
                font-weight: 900;
                font-size: 35px;
           }
        }

        #heroBannerName{
            margin: 4rem 0;
            font-size: 35px;
            color: white;
            width: 60%;
        }
        
        .homeSectionButtons{
            margin-top: 6rem;

            .homePageButton{
                border: none;
                outline: none;
                padding: 10px 25px;
                font-weight: bold;  
                margin-left: 7px;  
                cursor: pointer;  
                transition: 500ms ;
                
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
            #addToListButton{
                background-color: rgba(255, 255, 255, 0.545);
                color: rgba(255, 255, 255, 0.719);
                opacity: 90%;

                &:hover{
                    background-color: black;
                }
            }
                      
        }

        @media (min-width: 1024px) {
            padding-left: 3rem;
        }
        
    }
}