.popUpContainer{
    background-color: rgba(255, 255, 0, 0.24);
    width: 60%;
    height: 80%;
    margin: 10% 20% 10% 18%;
    position: absolute; 
    z-index: 11;  
    top: 0;   
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:  solid 3px white;
    

    @media (min-width: 1024px) {
        width: 80%;
        height: 90%;
        margin: 5% 10% 5% 8%;
        
    }
    @media (min-width: 1200px) {
        width: 80%;
        height: 100%;
        margin: 0 10%;
    }

    .filmTitleDiv{
        
        .filmTitle{
            color: white;
            font-size: 25px;
            
        }
    
    }

}