.searchResultatPageNavBar{
    
    position: relative;
    background-color: black;
    border-bottom: 1px rgba(255, 255, 255, 0.205) solid;
}



.searchResultSection{
    width: 100%;
    height: auto;
    background-color: black;    
    padding-top: 2rem;

    .searchResultContainer{
        padding: 2rem;
        display: flex;
        gap: 2px;
        flex-wrap: wrap;
        justify-content: center;

        .searchResultMoviesCard{
            width: 11rem;
            height: 15rem;
            // background-color: rgba(255, 255, 255, 0.221);
            background-size: cover;
            background-position: center;
            
            
        }
    }


}