@import url('style-scss/header.scss');
@import url('style-scss/homeSection.scss');
@import url('style-scss/filmSection.scss');
@import url('style-scss/footer.scss');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('style-scss/popUp.scss');

// font-family: 'Bebas Neue', cursive;
// font-family: 'PT Serif', serif;

*, *::after , *::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
   
}

article{
    width: 100%;
}

.hide{
    display: none;
}